.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.task.completed {
    background-color: #e6f7e6;
}

.task-checkbox {
    margin-right: 10px;
}

.task-text {
    flex-grow: 1;
    text-align: left;
    text-decoration: none;
}

.task.completed .task-text {
    text-decoration: line-through;
}

.edit-task-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-task-btn:hover {
    background-color: #0056b3;
}

.task-edit-input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
